body{
    margin: 0%;
}

html,
body {
  height: 100%;
}

.Navbar{
    display: flex;
    height: 50px;
    background: #34343f;
    position: fixed;
    width: 100vw;
    z-index: 3;
    top: 0px;
    justify-content: space-between;
}

.Navbar div{
    width: 25%;
    display: flex;
    align-self: center;
    margin-left: 5%;
}

.Navbar div p{
    text-decoration: none;
    color: white;
    font-size: 20px; 
}

.Navbar div a{
    text-decoration: none;
    color: #b4b4b4;
    font-size: 20px; 
}

.Navbar div a:hover{
    color: white;
}

.Registration{
    margin-top: 200px;
    width: 400px;
    margin: 100px auto;
    padding: 15px;
    text-align: center;
    border: grey 1px solid;
    border-radius: 10px;
}

.Registration_text_main{
    font-size: 30px;
    margin: 8px;
}

.Registration_text_discription{
    font-size: 20px;
    margin: 8px;
}

.Registration_field{
    text-align: left;
    margin:10px;
}

.Registration input {
    width: calc(100% - 5px);
    height: 20px;
    font-size: 16px;
    padding-left: 5px;
}

.Registration p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.Registration a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

.Registration_obert{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Registration_button{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}

.Avatar_button{
    height: 40px;
    width: 85%;
    font: normal 1.2vw arial;
}

button {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #34343f;
    text-align: center;
    margin: 20px auto;
    font: normal 17px arial;
    border: none;
}

button:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background-color: white;
    color: #34343f;
    border: 1px solid #34343f;
}

button:not(:hover) {
    transform: scale(1);
    transition: 0.3s
}

.Exit_button {
    margin: 0%;
}

.Exit_button:hover {
    background-color: white;
    color: #34343f;
    transform: none;
    border: none;
}

.Profile{
    display: flex;
    width: 70%; 
    margin: 80px auto 0;
    justify-content: space-evenly;
    flex: 1 0 auto;
}

.Left_side{
    width: 25%;
    background-color: #e2d9d0;
    position: relative;

}

.Left_side_sticky{
    position: sticky;
    top: 50px;
    margin-bottom: 50px;
}

.Right_side{
    width: 65%;
}

.Avatar{
    width: 85%; 
    margin: 7.5% 7.5% 0;
}

.Name{
    background-color: #34343f;  
    padding: 1% 0; 
    text-align: center;
    margin-bottom: 50px;
}

.Name h1 {
    text-align: center;
    color: white;
    font-size: 2.2vw;
}

.Post_button {
    height: 40px;
    width: 100%;
    font: normal 1.2vw arial;
}

.Post_button:hover {
    transform: none;
}

.Post_button_post {
    height: 40px;
    width: 30%;
    font: normal 1.2vw arial;
}

.Post_button_post:hover {
    transform: none;
}

.Post_block_user_obert{
    display: flex;
}


.Posts_block {
    text-align: center;
    font-size: 26px;
}

.Post_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.Post_block_user{
    width: 100%;
    display: flex;
    align-items: center;
}

.Post_block_user_ava{
    width: 60px; 
    margin-right: 5%;
    cursor: pointer;  
}

.Post_block_user_ava img{
    object-fit: cover;
    width:60px;
    height:60px; 
    border-radius: 100%;
}

.Post_block_user_name{
    margin-bottom: 10px;
    font-size: 22px;
}

.Post_block_user_date{
    font-size: 16px;
    color: grey;
}

.Post_block_img{
    width: 100%
}

.Menu_link {
    margin-left: 7.5%;

}

.Menu_link a{
    text-align: center;
    text-decoration: none;
    color: #34343f;
    font-size: 20px;
}


.Footer{
    height: 200px;
    background: #34343f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
}

.Footer li {
    margin: 10px 0;
    color: white;
    list-style-type: none
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Avatar_input_field{
    text-align: center;
}

.Avatar_input_field textarea{
    max-width: 90%;
    min-width: 90%;
    min-height: 50px;
}

.Text_input_field textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
}

.Image_input_field textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 30px;
}

.Users_list_block{
    width: 60%;
    margin: 30px 15%;
    border: 1px solid #34343f;
    background: #34343f;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Users_list_ava_block{
    height: 100%;
    max-width: 50px;
}

.Users_list_ava_block img{
    height: 100%;
} 

.Users_list_invite{
    width: 40%;
    margin: 0;
}

.Avatar_name{
    text-align: center;
}

.Target_user_avatar{
    width: 30%;
    margin-left: 35%;
}

h2{
    text-align: center;
}

.Target_user_invite {
    width: 40%;
    margin: 30px 30% ;
}


.material-icons-outlined{
    font-size: 40px;
    cursor: pointer;
    color: grey;
}

.material-icons-outlined:hover{
    color: black;
}

.menu{
    font-size: 20px;
    cursor: pointer;
    color: grey;
    margin-right: 5px;
}

.Menu_link a{
    display: flex;
    align-items: center; 
}

.like{
    margin-right: 20px;
}

.likes{
    font-size: 30px;
    color: grey;
    margin-right: 5px; 
}

.Loader{
    margin: 300px auto;
    font-size: 40px;
}

.Button_container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.Message_block_my{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
}

.Message_block_my_ava{
    margin-left: 3%;
    cursor: pointer;
}

.Message_block_my_ava img{
    object-fit: cover;
    width:60px;
    height:60px; 
    border-radius: 100%;
}

.Message_block_friend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
}

.Message_block_friend_ava{
    margin-right: 3%;
    cursor: pointer;
}

.Message_block_friend_ava img{
    object-fit: cover;
    width:60px;
    height:60px; 
    border-radius: 100%;
}

.Message_text{
    margin: 5px 7px; 
}

.Message_info {
    border: black solid 1px;
    border-radius: 10px;
    background-color: #34343f;
    color: white;
}

.Chat_box {
    width: 90%;
    margin: auto;
    height: 500px;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
  }

.Chat_box_messages{
    overflow-y: scroll;
}

.Invitatoins{
    display: flex;
    justify-content: space-between;
    width: 80%;
}























.lds-roller {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  